/.DS_Store
/01. Data Type.ipynb
/02. Programming Practice01(Data Type).ipynb
/03. IF.ipynb
/04. for, while.ipynb
/04. for, while_20240328.ipynb
/05. Day02_assignment_20240328.ipynb
/05. Programming Practice02(control statement).ipynb
/05. Programming Practice02(control statement)_20240328.ipynb
/06. Function.ipynb
/07. I:O.ipynb
/08. Class.ipynb
/Bank_acc.py
/data.json
/dic_save.py
/news.txt
/result.pk
/result.txt
/test.txt